@import url('https://fonts.googleapis.com/css2?family=NunitoSans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #fbf8ef;
    --foreground: #333333;
    --card: #fbf8ef;
    --card-foreground: #333333;
    --popover: #fbf8ef;
    --popover-foreground: #333333;
    --primary: #4f97d7;
    --primary-foreground: #fbf8ef;
    --secondary: #9da8af;
    --secondary-hover: #b0bec9;
    --secondary-foreground: #333333;
    --muted: #e3dedd;
    --muted-foreground: #333333;
    --accent: #bc6ec5;
    --accent-foreground: #fbf8ef;
    --destructive: #f2241f;
    --destructive-foreground: #fbf8ef;
    --border: #b3b9be;
    --input: #e3dedd;
    --ring: #4f97d7;
    --radius: 0.5rem;
  }
  .dark {
    --background: #17191a;
    --foreground: #b2b2b2;
    --card: #212026;
    --card-foreground: #b2b2b2;
    --popover: #222427;
    --popover-foreground: #b2b2b2;
    --primary: #4f97d7;
    --primary-foreground: #292b2e;
    --secondary: #2d4252;
    --secondary-hover: #3d596e;
    --secondary-foreground: #b2b2b2;
    --muted: #212026;
    --muted-foreground: #747474;
    --accent: #2d3031;
    --accent-foreground: #b2b2b2;
    --destructive: #f2241f;
    --destructive-foreground: #292b2e;
    --border: #5d4d7a;
    --input: #212026;
    --ring: #4f97d7;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
